# Print Statement

In [1]:
print("Abhi")

Abhi

# Single Print Statement

In [2]:
print("hey i love you")

hey i love you

# Multiple Print Statement

In [3]:
print("hey","i","love","you")

hey i love you

# Print Statement Using Seperator

In [4]:
print("Data Science "," is not easy",sep="=")

Data Science = is not easy

# Now using New Line Concept

In [5]:
print("Abhishek","is not made for Love",sep="\n")

Abhishek
is not made for Love

# Python End Parameters

In [6]:
print("abhishek") # kindly move cursor over abhishek line you will space in end that's called new line
print("is a good guy")

abhishek
is a good guy

In [7]:
print("python",end="@")
print("is a snake")

python@is a snake

# Variables

Variables is used to store data.

In [8]:
name = "Abhishek"

In [9]:
print(name)

Abhishek

In [10]:
name = "Abhishek"
age = 25
height = 5.10
print("Name = " + str(name),"Age = " + str(age),"Height = " + str(height),sep="|")

Name = Abhishek|Age = 25|Height = 5.1

# Data Types

String Data Type ---- str()

In [11]:
name = "Abhishek"
print(name,type(name),sep=" : ")

Abhishek : <class 'str'>

In [12]:
a = "hello"
print(type(a))

<class 'str'>

In [13]:
a = "Hi"
b = "I Love You"
print(a + " " + b)

Hi I Love You

# Numerical Types
1. int() -- integer
2. float() -- floating types likes decimal values
3. complex() -- real and imaginary numbers

In [14]:
age = 25
print(age,type(age),sep = " : ")

25 : <class 'int'>

In [15]:
height = 5.9
print(height,type(height),sep = " : ")

5.9 : <class 'float'>

In [16]:
complx = 5+2j
print(complx,type(complx),sep = " : ")

(5+2j) : <class 'complex'>

# Sequence Series

List - Strore multiple types of data that can be changable

In [17]:
names = ['Abhi','Varun','Harsh']
print(names,type(names),sep=" : ")

['Abhi', 'Varun', 'Harsh'] : <class 'list'>

In [18]:
mark = [40,50,60,70,80,90]
print(mark)

[40, 50, 60, 70, 80, 90]

In [19]:
detail = ['Suhail','25','Uttar Pradesh',32.2,False]

indexing of a list start from 0 to n-1

    a = [1,2,3,4,5,6,7,8,9]
    i =  0 1 2 3 4 5 6 7 8

# Accessing List Index

In [20]:
mark[1],mark[3],mark[5]

(50, 70, 90)

In [21]:
family = ['mom','dad','me']
family

['mom', 'dad', 'me']

# Methods of Lists

1. Append = To append a value in last of list.
2. Extend = To Extend multiple value together in last of list.
3. pop = remove element from list.
4. remove = remove elements from list by using there names.
5. insert = insert element with the indexing.

In [22]:
family = ['mom','dad','me']

Append Sister value in family list

In [23]:
family.append('sister')
family

['mom', 'dad', 'me', 'sister']

Extend list with aunt, uncle, brother.

In [24]:
family.extend(['aunt','uncle','brother'])
family

['mom', 'dad', 'me', 'sister', 'aunt', 'uncle', 'brother']

pop the 3 element from family list

In [25]:
family.pop(3)
family

['mom', 'dad', 'me', 'aunt', 'uncle', 'brother']

remove aunt from list

In [26]:
family.remove('aunt')
family

['mom', 'dad', 'me', 'uncle', 'brother']

insert brother in first place of family list

In [27]:
family.insert(0,'brother')
family

['brother', 'mom', 'dad', 'me', 'uncle', 'brother']

# Tuples

Tuples is used to store different values.

Tuples is hetrogenious, non-mutable(non-changable)

syntax => ()

In [28]:
a = ('mom','dad','me')
a

('mom', 'dad', 'me')

In [29]:
a[2] = 'brother'

TypeError: 'tuple' object does not support item assignment

In [30]:
values = (3.13,'suhail',12,True)
values

(3.13, 'suhail', 12, True)

In [31]:
fruit = ('apples','pineapple','grapes')
fruit

('apples', 'pineapple', 'grapes')

In [32]:
names = ('Abhi','Varun','Harsh')
print(names,type(names),sep = ' | ')

('Abhi', 'Varun', 'Harsh') | <class 'tuple'>

# Dictionary

Dictionary used to store multiple columns with different values (Key-Value) pair.

Syntax => {}

In [33]:
dictnary = {
    "Name" : "Abhi",
    "Age" : 25,
    "Height" : 5.9
            }

In [34]:
print(dictnary)

{'Name': 'Abhi', 'Age': 25, 'Height': 5.9}

In [35]:
student = {
    'Name' : 'Suhail',
    'Maths' : 95,
    'English' : 90,
    'Bio' : 92,
    'Phy' : 95,
    'Chem' : 97,
    'Passed' : True
            }

In [36]:
student

{'Name': 'Suhail',
 'Maths': 95,
 'English': 90,
 'Bio': 92,
 'Phy': 95,
 'Chem': 97,
 'Passed': True}

# Accessing Dictionary

In [37]:
print(student['Phy'],student['Chem'])

95 97

In [38]:
login = {
    'username' : 'Suhail',
    'password' : 'p@$$WORD'
        }
login

{'username': 'Suhail', 'password': 'p@$$WORD'}

Create a dictionary where

        Name = Apple, color = Red, the best friend = True

In [39]:
dic = {
    'name' : 'Apple',
    'color' : 'Red',
    'the best friend' : True
        }
dic

{'name': 'Apple', 'color': 'Red', 'the best friend': True}

# Accessing Dictionary Key from value

In [40]:
key_list = list(dic.keys())
val_list = list(dic.values())

position = val_list.index("Red")

print(key_list[position])

color

# Set

Set is hetriogenious, unique, unordered.

Set is used to store values which is unique in nature.

Syntax => { }

In [41]:
nodle = {'cobra','viper','anaconda','python','cobra','cobra'}
nodle

{'anaconda', 'cobra', 'python', 'viper'}

In [42]:
Lang = {'c','c++','javascript','python','java','c','python','perl'}
Lang

{'c', 'c++', 'java', 'javascript', 'perl', 'python'}

In [43]:
nodle.intersection(Lang)

{'python'}

In [44]:
Lang.union(nodle)

{'anaconda',
 'c',
 'c++',
 'cobra',
 'java',
 'javascript',
 'perl',
 'python',
 'viper'}

In [45]:
fruits = {
    'apple','mango','grapes'
        }
fruits.intersection(nodle.union(Lang))

set()

In [46]:
a = {10,20,30,40,80}
b = {100,30,80,40,60}

In [47]:
print(a.difference(b))
print(b.difference(a))

{10, 20}
{100, 60}

In [48]:
name = {'abhi','varun','harsh','varun'}
print(name,type(name),sep=' | ')

{'harsh', 'varun', 'abhi'} | <class 'set'>

In [49]:
x = frozenset({'apple','banana','cherry'})
print(x,type(x),sep=' | ')

frozenset({'banana', 'cherry', 'apple'}) | <class 'frozenset'>

# Boolean

Boolean is only having True And False value.

In [50]:
A = True
print(A,type(A),sep=' | ')

True | <class 'bool'>

# Mathematical Operations

Addition Operation

In [51]:
1+3

4

In [52]:
a = 5
b = 55
c = a + b
print(c)

60

Substraction Operation

In [53]:
10 - 6

4

In [54]:
a = 100
b = 50
c = 23
d = a - b - c
print(d)

27

Multiplication Operation

In [55]:
5 * 9

45

In [56]:
78 * 78

6084

Devide Operation

In [57]:
10 / 7

1.4285714285714286

In [58]:
76543 / 99

773.1616161616162

Exponential Operation

In [59]:
2 ** 9

512

In [60]:
3 ** 3

27

Modulo Operation

In [61]:
5 % 2

1

In [62]:
3452 % 808

220

In [63]:
15 % 3

0

# Comparison Operation

In [64]:
12 > 22

False

In [65]:
100 > 1

True

In [66]:
100 < 100

False

In [67]:
10 * 10 > 10 * 5

True

In [68]:
10 * 10 > 10 ** 2

False

In [69]:
10 * 10 >= 10 ** 2

True

In [70]:
10 * 2 < 5 * 2

False

In [71]:
10 != 20

True

In [72]:
a = 10
b = 78
a != b

True

# And Or Logical Operation

In [73]:
a = 15
b = 10
c = 10
a == b and b == c

False

In [74]:
a != b and b == c

True

In [75]:
a = 10
b = 10
c = 11
a == b and b == c

False

In [76]:
a = 10
b = 10
c = 10
a == b and b == c

True

In [77]:
a = 10
b = 10
c = 15
a == b or b == c

True

In [78]:
math = 90
eng = 90
science = 95
math == eng and eng == science

False

In [79]:
eng = 70
math = 70
sci = 71
hindi = 70
eng == math and math == sci and sci == hindi

False

In [80]:
a = 10
b = 20
c = 30
(a < b and b < c) or (a > b and b > c)

True

# Conditional Operation

In [81]:
a = 5
if a > 4:
    print('Pass')

Pass

In [82]:
a = 1
if a > 4:
    print("Pass")
else:
    print("Fail")

Fail

In [83]:
x = 10
if x == 10:
    print("x is 10")

x is 10

In [84]:
name = 'suhail'
if name == 'suhail':
    print('Hello suhail')
    print('Login Succesfully')

Hello suhail
Login Succesfully

In [85]:
weather = 'Raining'
if weather == 'Raining':
    print('Take Umbrella')
else:
    print("Take Jacket")

Take Umbrella

In [86]:
perc = 300
if perc >= 40:
    print('Pass')
else:
    print('Fail')

Pass

In [87]:
perc = 0
if perc <= 40:
    print('Fail')
elif perc <= 60:
    print("Pass")
elif perc <= 80:
    print("Good Performance")
else:
    print("Distinction")

Fail

# Loops

Loops used to iterate values or elements.

# Types of Loops.

While Loop -- Repeats a statement or group of statements. While a given condition is True. If tests the condition before executing the loop body.

For Loop -- Executes a sequence of statements multiple times and abbreviates the code that manages the loop variables.

Nested Loop -- You can use or move Loops inside any another while, for or do_while Loop.

# Loop Control Statements

Break -> Terminates the loop statements and transfer execution to the statement immediately following the loop.

Continue -> Causes the to skip the remainder of its body and immediately retest its condition prior to reinterating.

Pass -> The pass statement in python is used when a statement is required syntactically but do not want any command or code to execute.

In [88]:
#Example

lst = [1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [89]:
# Print First 10 Natural numbers using while loop
i = 1
while(i <= 10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

While Loop -> The while loop we can executes a set of statement as long as a condition is True.

In [90]:
i = 1
while i < 6:
    print(i)
    i+=1

1
2
3
4
5

The Break statement in while loop exit the loop when the condition is True.

In [91]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i+=1

1
2
3

In [92]:
# If i is less than 3 print Abhishek
count = 0
while count < 3:
    count += 1
    print('Abhishek')

Abhishek
Abhishek
Abhishek

In [93]:
# Check if list still contains any element.
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

Single Statement While block

In [94]:
count = 0
while count < 5:
    count += 1
    print('Hello Geek')

Hello Geek
Hello Geek
Hello Geek
Hello Geek
Hello Geek

Continue -> Python continue statement returns the control to the begining of the loop

In [95]:
# Print all letters except 'e' and 's'
a = 'geekforgeeks'
i = 0
while i < len(a):
    if a[i] == 'e' or a[i] == 's':
        i += 1
        continue
    print('Current letter',a[i])
    i += 1

Current letter g
Current letter k
Current letter f
Current letter o
Current letter r
Current letter g
Current letter k

# Else Statement

With the else statement we can run a block of code Once when the condition no longer is True.

In [96]:
# Print a message once the condition is false
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print('i is no longer less than 6')

1
2
3
4
5
i is no longer less than 6

# Python For Loop

A for loop is used for iterating over a sequence (that is either a list, a dictionary, a set or a string.)

In [97]:
fruit = ['apple','banana','cherry']
for x in fruit:
    print(x)

apple
banana
cherry

In [98]:
# Looping through string
for x in 'Banana':
    print(x)

B
a
n
a
n
a

# The Break Statement

with the break statement we can stop the loop before it has logged through all the items

In [99]:
fruit = ['apples','banana','cherry']
for x in fruit:
    print(x)
    if x == 'banana':
        break

apples
banana

# The Continue Statement

with the continue statement we can stop the current iteration of the loop and continue with the next.

In [100]:
for x in fruit:
    if x == 'banana':
        continue
    print(x)

apples
cherry

# The Range() Function

To loop through a set of code a specified no. of items

In [101]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [102]:
for x in range(2,6):
    print(x)

2
3
4
5

In [103]:
# Increament the sequence by 3 (default is 1)
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

# Nested Loops

 A nested is a loop inside a loop. The inner loop will be executed one time for each iteration of the outer loop.

In [104]:
adj = ['red','big','tasty']
fruit = ['apples','banana','cherry']
for x in adj:
    for y in fruit:
        print(x,y,sep=" : ")

red : apples
red : banana
red : cherry
big : apples
big : banana
big : cherry
tasty : apples
tasty : banana
tasty : cherry

# Python Function

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as result.

# Creating a function

In python a function is defined using the def keyword:

In [105]:
def my_func():
    print("Hello from a function")

In [106]:
# Calling a Function
my_func()

Hello from a function

Another one

In [107]:
def say_hello(name):
    print(f'hello {name}')

In [108]:
say_hello("abhishek")

hello abhishek

In [109]:
def say_hello(name='default'):
    print(f'hello {name}')

In [110]:
say_hello()

hello default

In [111]:
say_hello("arjun")

hello arjun

# function on Operation

In [112]:
def add_num(num1,num2):
    return num1 + num2

In [113]:
result = add_num(3,6)

In [114]:
print(result)

9

# Arguments in function

Information can be passed into functions as arguments.

In [115]:
def my_func(fname):
    print(fname + " Refnses")
my_func("Abhishek")

Abhishek Refnses

In [116]:
my_func("Arjun")

Arjun Refnses

In [117]:
my_func("Linus")

Linus Refnses

# Number Of Arguments

BY default, a function must be called with the correct no. of arguments.

In [118]:
def my_func(fname,lname):
    print(str(fname) + " " + str(lname))
my_func("Abhishek","Kumar")

Abhishek Kumar

In [119]:
# Print Out all number from the list which is even?

def check_even_list(num_list):
    even_number = []
    for number in num_list:
        if number % 2 == 0:
            even_number.append(number)
        else:
            pass
    return even_number

In [120]:
check_even_list([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [121]:
check_even_list([11,13,15,17,19,21,22,29,37,44])

[22, 44]

# Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * b before the parameter name in the function definition. If the number of arguments is unknown, add * before parameter name:

In [122]:
def my_func(*kids):
    print("The Youngest child is " + kids[2])
my_func("abhishek","guddu","Abhay")

The Youngest child is Abhay

In [123]:
def my_func(*args):
    return sum(args) * 0.05
my_func(10,20,30,40,50,60,70,80,90,100)

27.5

In [124]:
my_func(10,20,30)

3.0

In [125]:
def my_sum(*args):
    return sum(args)
my_sum(10,20,30)

60

In [126]:
my_sum(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

210

# Keyword Arguments

You can also send arguments with the key = value syntax

In [127]:
def my_func(child3,child2,child1):
    print("The Youngest child is " + child3)
my_func("Abhishek","Anuj","Arjun")

The Youngest child is Abhishek

# Arbitary Keyword Arguments **Kwargs

If you do not know how many keyword arguments that will be paseed into your function, add two asterisk ** before the parameter name in the function definition.
This way the function will receive a dictionary of arguments and can access the items accordingly.

In [128]:
# If the no. of keyword arguments is unknown, add a double ** before the parameter name.
def my_func(**kid):
    print("His last name is "+ kid["lname"])
my_func(fname="Abhishek",lname="kumar")

His last name is kumar

In [129]:
def my_func(**kwargs):
    if 'fruits' in kwargs:
        print("My fruits of choice is {}".format(kwargs["fruits"]))
    else:
        print('I did not find any fruit here!!!')

In [130]:
my_func(fruits="banana",veggie="ladyfinger")

My fruits of choice is banana

In [131]:
def my_func(*args,**kwargs):
    print(args)
    print(kwargs)
    print("I would like {} {}".format(args[0],kwargs["food"]))
my_func(10,20,30,fruits="orange",food="eggs",animal="dog")

(10, 20, 30)
{'fruits': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs